<html>
<style>
h1 { color: #111; font-family: 'Open Sans Condensed', sans-serif; font-size: 48px; font-weight: 700; line-height: 48px; margin: 0 0 0; padding: 20px 30px; text-align: center; text-transform: uppercase; }

h2 { color: #111; font-family: 'Open Sans Condensed', sans-serif; font-size: 32px; font-weight: 700; line-height: 32px; margin: 0 0 24px; padding: 0 30px; text-align: center; text-transform: uppercase; }

h3 {  border: 3px #ccc;
      color: #111; font-family: 'Open Sans Condensed', sans-serif; font-size: 24px; font-weight: 700; line-height: 24px; margin: 0 0 24px; padding: 0 30px; text-align: left; text-transform: uppercase; }

h4 { color: #111; font-family: 'Open Sans Condensed', sans-serif; font-size: 16px; font-weight: 700; line-height: 16px; margin: 0 0 24px; padding: 0 30px; text-align: left; text-transform: uppercase; }

td { color: #111; font-family: 'Open Sans', sans-serif; font-size: 12px; line-height: 12px; margin: 0 0 48px; }
th { color: #111; font-family: 'Open Sans', sans-serif; font-size: 12px; line-height: 12px; margin: 0 0 48px; }

a { color: green; text-decoration: none; }

a:hover { text-decoration: underline }

</style>
<img src="https://raw.githubusercontent.com/kubernetes/kubernetes/master/logo/logo.png" height="84" width="84"/>
    <h1>Kubernetes cluster info</h1>
    <% namespaces.each do |key,services| %>
       <h2>Namespace: <%= key %></h2>
       <table border="1"> 
           <tr>
               <th>Service</th>
               <th>Type</th>
               <th>Port</th>
           </tr>
           <% services.each do |service|%>
           <tr>
               <td><%= service['name']%></td>
               <td><%=service['type']%></td>
               <td>
               <% if !service['ports'].nil? then %>
                    <table border="1">    
                    <% service['ports'].each do |port|%>
                    <tr>
                      <% if !port['name'].nil? then %>    
                      <td><%= port['name']%></td>
                      <% end %>    
                      <td><%= port['port']%></td>
                      <td><a href="http://<%= kubernetesmaster%>:<%=port['port']%>">"<%=kubernetesmaster%>:<%=port['port']%>"</a></td>
                    </tr>
                    <% end %>
                    </table>       
               <% end %>                
               </td>
           <%end%>
       </table>    
    <% end %>
</html>    
